<div class="container" style=" height:100vh;background-color: #ccc; " >
    <div class="row"  >
      <div class="col-12"> 
        <div    class="login-form" >   
            <div class="input-group mb-3 custom-input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><mat-icon >person</mat-icon></span>
                </div>
                  <input  type="text" id="txtEmail" [formControl]="username"  class="form-control" style="text-align:left;"  placeholder="Email"  required>
                <!-- <mat-error *ngIf="username.invalid">{{getErrorMessage('user')}}</mat-error> -->
            </div>          
              <div class="input-group mb-3 custom-input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><mat-icon>lock</mat-icon></span>
                  </div>
                    <input type="password" id="textPass" [formControl]="password" class="form-control"  style="text-align: left;"  placeholder="Password"  required>
                  <!-- <mat-error *ngIf="password.invalid">{{getErrorMessage('pass')}}</mat-error> -->
              </div>       
            <button mat-flat-button class="col-12 primary-btn" (click)="onSubmit()" >Log In</button>
            </div>
      </div>
    </div>
  
    <div>
    <p class="text-primary text-center m-0 mt-2"> Don't have an account? <a href="register"> Sign Up</a> </p>
    </div>
  </div>






  



