<div class="container-fluid">
    
  
      <div class="row pt-1" >
        <div class="col-12 pt-1">
          <form [formGroup] ="changeForm" (submit) = "onChange()"  class="login-form ">
              
                
                <div class="input-group mb-3 custom-input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"  id="oldpassword"><mat-icon>lock</mat-icon></span>
                    </div>
                    <input type="password" id="old" formControlName="oldpassword" class="form-control" style="text-align: left;"  placeholder="Enter old password" required>
                  </div>
                  <div class="input-group mb-3 custom-input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"  id="newpassword"><mat-icon>lock</mat-icon></span>
                      </div>
                      <input type="password" id="new"  formControlName="newpassword" class="form-control"  style="text-align: left;"  placeholder="Enter new password" required>
                    </div>
                  <div class="input-group mb-3 custom-input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="confirmpassword"><mat-icon>lock</mat-icon></span>
                      </div>
                      <input type="password" id="confirm"  formControlName="confirmpassword" class="form-control"  style="text-align: left;"  placeholder="Re-Enter new password" required>
                    </div>

               

                <button mat-flat-button class="col-12 primary-btn" type="submit" >SUBMIT</button>

              
          </form>
    
        </div>
    
      </div>
      
      
      
        
            
    </div>
