<div class="container-fluid">
    
    
    <div class="row pt-1.5">
      <div class="col-12 pt-1.5">
            <form [formGroup]="phase1Form" (submit)="onGet()" class="login-form ">
               <section *ngIf="phase1">
                  <div class="input-group mb-3 custom-input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"  id="emailid"><mat-icon>people</mat-icon></span>
                      </div>
                      <input type="email" id="email"  formControlName="email" class="form-control"  style="text-align: left;"  (change)="valid($event)" placeholder="Enter Email ID" required/>
                    </div>
                  <button mat-flat-button class="col-12 primary-btn"  type="submit">Get OTP</button>
                  
                 
              </section>
            </form>
            <form [formGroup]="phase2Form" (submit)="onVerify()">
                <section *ngIf="phase2">
                    <div class="input-group mb-3 custom-input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"  id="otp"><mat-icon>vpn_key</mat-icon></span>
                      </div>
                      <input type="text" id="otpp"  formControlName="otp" class="form-control"  style="text-align: left;"  placeholder="Enter received otp" required/>
                    </div>
                  <button mat-flat-button class="col-12 primary-btn"  type="submit">Verify OTP</button>
                </section>
            </form>
              <form [formGroup]="phase3Form" (submit)="onSubmit()">
                  <section *ngIf="phase3">
                
                      <div class="input-group mb-3 custom-input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"  id="newpassword"><mat-icon>lock</mat-icon></span>
                          </div>
                          <input type="password" id="new"  formControlName="password" class="form-control"  style="text-align: left;"  placeholder="Enter new password" required>
                        </div>
                        <div class="input-group mb-3 custom-input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"  id="confirmpassowrd"><mat-icon>lock</mat-icon></span>
                            </div>
                            <input type="password" id="confirm" formControlName="confirmpassword" class="form-control"  style="text-align: left;"  placeholder="Re-Enter new password" required>
                          </div>
                      <button mat-flat-button class="col-12 primary-btn" type="submit">SUBMIT</button>
                    </section>
                    
                  </form>
                </div>
      
    </div>
  
    
  </div>


  
